<%= simple_form_for @submission, :url => :submission do |f| %>
  <%= f.input :title %>

  <div class="row">
    <%= f.label :bio, nil, {
      :class => "form-label col-12 hidden"
    } %>

    <%= f.text_area :text, {
      "data-provide" => "markdown",
      "class" => "form-input col-12 textarea autosize",
      "placeholder" => "Do you think you have what it takes?"
    } %>
  </div>

  <div class="row">
    <p class="italic">
      By submitting your votes will be reset and your submission will be pushed
      back to the bottom of the pool to be reviewed.  While it will be reviewed
      a past submission that was success does not mean an edited submission will
      be accepted.
    </p>
  </div>

  <%= f.button :submit %>
<% end %>
