<div class="row">
  <div class="col-10 center form">
    <div class="row">
      <h1 class="form-heading">Your Account Settings</h1>
    </div>

    <div class="row">
      <div class="col-3 menu">
        <ul>
          <%= nav_link "Account Settings", :account %>
        </ul>
      </div>

      <div class="col-7 pull-right">
        <%= simple_form_for @account, :url => :account_update do |f| %>
          <%= f.input :name %>

          <div class="row">
            <%= f.label :bio, nil, {
              :class => "form-label col-12 hidden"
            } %>

            <%= f.text_area :bio, {
              "data-provide" => "markdown",
              "class" => "form-input col-12 textarea autosize",
              "placeholder" => "Tell us more about you, or else."
            } %>
          </div>

          <%= f.input :email %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
