<title><%= @title + " - " unless @title.blank? %>#RubyOnSails</title>
<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|PT+Sans" %>
<%= stylesheet_link_tag :application %>
<%= javascript_include_tag :application %>
<%= csrf_meta_tag %>
